[run]
source =
    {{cookiecutter.project_name}}
    tests
branch = True
omit =
    {{cookiecutter.project_name}}/cli.py

[report]
exclude_lines =
    no cov
    no qa
    noqa
    pragma: no cover
    if __name__ == .__main__.:
